body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fc18186f, #00a2ffc7);
}

.navigation {
    position: relative;
    display: inline-block;
    align-items: right;
    margin-right: -1150px;
    margin-top: -100px;
}

.navigation-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navigation:hover .navigation-content {
    display: block;
    opacity: 1;
}

.navigation-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.navigation-content a:hover {
    background-color: #bdbdbd5c;
}

.navigation-button {
    background: linear-gradient(to right, #fc18186f, #00a2ffc7);
    border: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}


.header {
    background: linear-gradient(to right, #fc18186f, #00a2ffc7);
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.profile-pic img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: left;
    margin-top: -70px; /* Add a height offsetter */
}

.bio {
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
}

.footer {
    background: linear-gradient(to right, #fc18186f, #00a2ffc7);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}