body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fc18186f, #00a2ffc7);
}

.header {
    background: linear-gradient(to right, #fc18186f, #00a2ffc7);
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.profile-pic img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: left;
    margin-top: -70px; /* Add a height offsetter */
}

.bio {
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
}

.footer {
    background: linear-gradient(to right, #fc18186f, #00a2ffc7);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}